.UserCardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	margin: 1rem;
	background-color: white;
}

.UserCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media screen and (max-width: 500px) {
	.UserCardContainer {
		flex-direction: column;
	}
}

p {
	margin: 0.2rem;
}

.userImage {
	border-radius: 50%;
}
