.App {
	margin: 2rem;
	background-color: pink;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

@media screen and (max-width: 500px) {
	.App {
		flex-direction: column;
	}
}

header {
	flex-basis: 30%;
	width: 25%;
}

main {
	flex-basis: 70%;
	width: 75%;
}
