.logo {
	color: rgb(0, 128, 255);
}

.home {
	display: flex;
	margin-top: 20%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 100%;
	margin: 50% auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
