.navLink {
	padding: 1rem;
	margin-top: 1rem;
	background-color: rgb(235, 255, 254);
}

.navLink:hover {
	background-color: rgb(235, 240, 254);
}

ul {
	list-style-type: none;
	margin-top: 4rem;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		margin-left: -10rem;
		margin-top: 0rem;
	}
	.navLink {
		margin-left: 3rem;
		width: 100%;
		text-align: center;
	}
}
